<h1>Listing ntees</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ntees.each do |ntee| %>
  <tr>
    <td><%= ntee.code %></td>
    <td><%= ntee.description %></td>
    <td><%= link_to 'Show', ntee %></td>
    <td><%= link_to 'Edit', edit_ntee_path(ntee) %></td>
    <td><%= link_to 'Destroy', ntee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ntee', new_ntee_path %>
