<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @ntee.code %>
</p>

<p>
  <b>Description:</b>
  <%= @ntee.description %>
</p>


<%= link_to 'Edit', edit_ntee_path(@ntee) %> |
<%= link_to 'Back', ntees_path %>
