<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Ntee:</b>
  <%= @organization.ntee %>
</p>

<p>
  <b>Address:</b>
  <%= @organization.address %>
</p>

<p>
  <b>Zip:</b>
  <%= @organization.zip %>
</p>

<p>
  <b>Latitude:</b>
  <%= @organization.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @organization.longitude %>
</p>

<p class="map">
  <%= image_tag google_maps_with_neighbors(@organization) %>
</p>

<ul>
  <%- @organization.nearbys(5).map do |neighbor| %>
    <li>
    <%= link_to neighbor.name, neighbor %> (<%= neighbor.distance.round(1) %> miles)
    </li>
  <%- end %>
</ul>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
