<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.Name %>
</p>

<p>
  <b>Ntee:</b>
  <%= @organization.NTEE %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @organization.ZipCode %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
