<!DOCTYPE html>
<html>
<head>
  <title>PurposeMap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<ul>
  <li><%= link_to 'Organizations', organizations_path %></li>
  <li><%= link_to 'NTEE Codes', ntees_path %></li>
  <li><%= link_to 'Common Codes', common_codes_path %></li>
</ul>

</body>
</html>
